<%= controller.redirect_to user_path(current_user) unless current_page?(user_path(current_user)) %>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="announces-tab" data-toggle="tab" href="#announces" role="tab" aria-controls="profile" aria-selected="false">Announces</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="contact" aria-selected="false">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="order-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="contact" aria-selected="false">Orders</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <%# PROFILE TAB %>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container py-5">
        <div row py-4>
          <div class="col card m-4 r-border-card py-5">
            <div class="d-flex align-content-center">
              <%= cl_image_tag current_user.photo.key, class: "p-3", width: 150, style:"border-radius: 50%;" %>
            </div>
            <p><strong>Username:</strong> <%= current_user.username %></p>
            <br>
            <p><strong>First name:</strong> <%= current_user.first_name %></p>
            <br>
            <p><strong>Last name:</strong> <%= current_user.last_name %></p>
            <br>
            <p><strong>CPF:</strong> <%= current_user.cpf %></p>
            <br>
            <p><strong>Registered email:</strong> <%= current_user.email  %></p>
            <br>
            <p><strong>Address:</strong> <%= current_user.address  %></p>
            <br>
            <p><strong>Phone number:</strong> <%= current_user.phone_number  %></p>
            <br>
          </div>
          
        </div>
      </div>
    </div>
    <%# ANNOUNCES TAB %>
    <div class="tab-pane fade" id="announces" role="tabpanel" aria-labelledby="announces-tab">
      <div class="d-flex flex-wrap">
        <% @user.announces.each do |announce| %>
          <div class="card m-4 r-border-card" style="width: 18rem;">
            <%= cl_image_tag announce.photo.key, class: "w-100 r-border-pic", width: 272, height: 204, crop: :fill %>
            <div class="card-body">
              <h5 class="card-title"><%= announce.product_name %></h5>
              <%= link_to "Veja mais", announce_path(announce), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
        <%= link_to new_user_announce_path(current_user), class: "btn btn-success ml-4 mb-4" do %>
          Create an announce
        <% end %>
      </div>
    </div>
    <%# SALES TAB %>
    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
      <div class="d-flex justify-content-start flex-wrap">
        <% @user.announces.each do |announce| %>
          <% announce.orders.each do |order|%>
            <% if order %>
              <div class="card r-border-card m-4" style="width: 18rem;">
                <%= cl_image_tag order.announce.photo.key, class: "w-100 r-border-pic", width: 280, height: 210, crop: :fill %>
                <div class="card-body">
                  <h5 class="card-title"><%= order.announce.product_name %></h5>
                  <%= link_to "Veja mais", order_path(order), class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# ORDERS TAB %>
    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
      <div class="d-flex justify-content-start flex-wrap">
        <% @user.orders.each do |order|%>
          <div class="card r-border-card m-4" style="width: 18rem;">
            <%= cl_image_tag order.announce.photo.key, class: "w-100 r-border-pic", width: 280, height: 210, crop: :fill %>
            <div class="card-body">
              <h5 class="card-title"><%= order.announce.product_name %></h5>
              <%= link_to "Veja mais", order_path(order), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
