<%# <div class="container d-flex justify-content-around">
  <div> <!-- MENU LATERAL ESQUERDO -->
    <div> <!-- USUÁRIO-->
    </div>
    <div class="border-bottom">
      <h2>PAINEL DE CONTROLE</h2>
    </div>
      
    <div> <!-- OPÇÕES DO PAINEL DE CONTROLE-->
      <p>Meus anúncios</p>
      <p>Minhas vendas</p>
      <p>Meus pedidos</p>
      <p>Seja premium</p>
    </div>
  </div> %>
<%# <div> <!-- ANÚNCIOS LATERAL DIREITA --> %>
<%# <h2>ANÚNCIOS</h2>

  </div>
</div>
 %>
<%= controller.redirect_to user_path(current_user) unless current_page?(user_path(current_user)) %>
<div class="container">
  <h2>My orders</h2>
  <div class="d-flex justify-content-start flex-wrap">
    <% @user.orders.each do |order|%>
      <div class="card m-2" style="width: 18rem;">
        <%= image_tag "http://picsum.photos/200/200?random=#{order.id}" %>
        <div class="card-body">
          <h5 class="card-title"><%= order.announce.product_name %></h5>
          <%= link_to "Veja mais", order_path(order), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <h2>My sales</h2>
  <div class="d-flex justify-content-start flex-wrap">
    <% @user.announces.each do |announce| %>
      <% announce.orders.each do |order|%>
        <% if order %>
          <div class="card m-2" style="width: 18rem;">
            <%= image_tag "http://picsum.photos/200/200?random=#{order.id+20}" %>
            <div class="card-body">
              <h5 class="card-title"><%= order.announce.product_name %></h5>
              <%= link_to "Veja mais", order_path(order), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h2>My announces</h2>
  <div class="d-flex justify-content-start flex-wrap">
    <% @user.announces.each do |announce| %>
      <div class="card m-2" style="width: 18rem;">
        <%= image_tag "http://picsum.photos/200/200?random=#{announce.id + 40}" %>
        <div class="card-body">
          <h5 class="card-title"><%= announce.product_name %></h5>
          <%= link_to "Veja mais", announce_path(announce), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'back to Home', root_path %>
