<!--======== Header ========-->
<header class="header-top">
  <div class="row align-items-center">
    <!---------- Logo ----------->
    <div class="col-3">
      <%= link_to root_path do %>
        <%= image_tag 'logo_hand.png', class: 'logo' %>
      <% end %>
    </div>
    <!---------- Busca ---------->
    <div class="col-5">
      <nav class=" navbar-light bg-light ">
        <form class="form-inline">
          <%= render 'shared/form', announces: get_all_announces %>
        </form>
      </nav>
    </div>
    <!---------- Criar anuncio ---------->
    <% if current_user %>
      <div class="col-2 ">
        <%= link_to new_user_announce_path(current_user), class: "btn-announce colors" do %>
          Create your ad<br>
          for free <i class="fas fa-bullhorn"></i>
        <% end %>
      </div>
    <% end %>
    <!---------- Idioma ---------->
    <% if current_user %>
      <div class="col-1">
        <%= "Welcome, #{current_user.first_name}" %>
      </div>
      <!--Edit Profile-->
      <div class="col-1">
        <%= link_to edit_user_registration_path, class:"btn-langue colors" do %>
          <i class="fas fa-user-edit"></i> Edit profile
        <% end %>
      </div>
      <!--Profile-->
      <div class="col-1">
        <%= link_to user_path(current_user), class:"btn-langue colors" do %>
          <i class="far fa-id-badge"></i> Your profile
        <% end %>
      </div>
      <!--Logout-->
      <div class="col-1">
        <%= link_to destroy_user_session_path, method: :delete, class:"btn-langue colors" do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %>
      </div>
    <% end %>
    <!------------ Not logged ------------>
    <% unless current_user %>
      <!---------- Login ---------->
      <div class="col-1">
        <%= link_to new_user_session_path, class: "btn-login colors" do %>
          <i class="far fa-user"></i>Sign in
        <% end %>
      </div>
      <!---------- Sign Up ---------->
      <div class="col-1">
        <%= link_to new_user_registration_path, class: "btn-login colors" do %>
          <i class="fas fa-user-plus"></i></i>Sign up
      <% end %>
    </div>
  <% end %>
</div>
</header>
<!--======== Navbar ========-->
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-nav">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1 " type="button" class="btn btn-secondary dropdown-toggle btn-category btn-all-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      TODAS AS CATEGORIAS
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1 ">
      <a class="dropdown-item box-dropdown" href="#">Categoria</a>
      <a class="dropdown-item" href="#">Categoria</a>
    </div>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary btn-category">Animal Planet</button>
      <button type="button" class="btn btn-secondary btn-category">Vêtements & Accessoires</button>
      <button type="button" class="btn btn-secondary btn-category">Reprise de bail</button>
      <button type="button" class="btn btn-secondary btn-category">Immobilier - Ventes</button>
      <button type="button" class="btn btn-secondary btn-category">Immobilier - locations</button>
      <button type="button" class="btn btn-secondary btn-category">Voitures de tourisme</button>
      <button type="button" class="btn btn-secondary btn-category">Offre d’emploi</button>
      <button type="button" class="btn btn-secondary btn-category">Erotique</button>
    </div>
  </div>
</nav>
