<!-- Container Card -->
<div class="col-md-6">
  <div class="card flex-md-row mb-4 box-shadow h-md-250 card-la">
    <div class="card-body d-flex flex-column align-items-start">
      <h3 class="mb-0">
        <!-- Announces Title -->
        <%= link_to announce_path(announce) do %>
        <p class="text-dark card-title card-title"> <%= announce.product_name%> </a>
        <% end %>
      </h3>
      <!-- Announces Description -->
      <p class="card-text mb-auto"> <%= truncate(announce.product_description, length: 100 ) %> </p>
      <!-- Announces Price -->
      <p class="card-text"> <strong><i class="fas fa-dollar-sign"></i> <%= number_to_currency(announce.price, precision: 2, unit: "")  %> </strong></p>
    </div>
    <!-- Announces IMG -->
    <img class="card-img-right flex-auto d-none d-md-block card-l"   src=" <%= cl_image_path announce.photo.key, crop: :fill, class: "img-fluid mb-2 card-l" %> " data-holder-rendered="true" style="width: 200px; height: 210px;">
  </div>
</div>
