<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h2 class="mb-4">Edit <%= @announce.product_name %></h2>
      <%= simple_form_for(@announce) do |f| %>
        <%= f.input :product_name %>
        <%= f.input :product_description %>
        <%= f.input :price %>
        <%= f.input :quantity %>
        <%= f.input :product_category %>
        <%= f.input :photo, :label => 'Send a image', as: :file %>
        <%= f.input :announce_type, selected: @announce.announce_type, collection: %w[Gallery Top Free], as: :radio_buttons %>
        <%= f.button :submit, class: "btn btn-outline-primary m-4" %>
        <%= link_to  "Go back", announce_path(@announce), class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>