<h1>Edit <%= @announce.product_name %></h1>
<div class="container">
  <%= simple_form_for(@announce) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :product_name %>
    <%= f.input :product_description %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :product_category %>
    <%= f.input :announce_type, as: :select, collection: %w[Gallery Highlight Top Free] %>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to  "Go back", announce_path(@announce) %>