<h1>Edit <%= @announce.product_name %></h1>
<div class="container">
  <%= simple_form_for(@announce) do |f| %>
    <%= f.input :product_name %>
    <%= f.input :product_description %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :product_category %>
    <%= f.input :photo, :label => 'Send a image', as: :file %>
    <%= f.input :announce_type, selected: @announce.announce_type, collection: %w[Gallery Highlight Top Free], as: :select %>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to  "Go back", announce_path(@announce) %>