<%# navbar %>
<%# banner na home? %>
<%# add photos do cards %>
<%# what's the strcuture of the home page? %>
<div class='container'>
  <% if user_signed_in? %>
    <p>User: <%= current_user.first_name %></p>
    <%# <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
  <%# <p><%= link_to 'See your profile', user_path(current_user) %></p>
<%# <p><%= link_to 'Log out',  destroy_user_session_path, method: :delete %></p>
<p><%= link_to  "Create a new announce", new_user_announce_path(current_user) %></p>
<% else %>
  <%# <p><%= link_to 'Sign in', new_user_session_path %>  </p>
<%# <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>
<p><%= render 'form', announces: @announces %></p>
</div>
<% if @search.present? && @search["name"] != '' %>
  <div class="container">
    <div class= "row">
      <h1 class="w-100">Announces for <%= @name %></h1>
      <% @announces.each do |announce| %>
        <div class="border p-2 m-2">
          <p><%= link_to announce.product_name, announce_path(announce) %></p>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <!-- Galeria Premium -->
    <div class= "row">
      <h2 class="w-100">Galeria premium </h2>
      <!-- Carousel Wrapper -->
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <!-- Controls -->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
            class="fas fa-chevron-right"></i></a>
        </div>
        <!-- Slides -->
        <div class="carousel-inner" role="listbox">
          <!-- First slide -->
          <% @gallery_announces.each_slice(4).with_index do |gallery, index| %>
            <div class="carousel-item <%= "active" if index.zero?  %>">
              <% gallery.each do |announce| %>
                <%= render "announces_premium",announce: announce %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Ultimos anuncios -->
    <div class= "row">
      <h2 class="w-100 p-2">Ultimos anuncios</h2>
      <% @top_announces.each do |announce| %>
        <%= render "last_announces",announce: announce %>
        <div class="border p-2 m-2">
          <p><%= link_to announce.product_name, announce_path(announce) %></p>
        </div>
      <% end %>
    </div>
    <div class= "row">
    </div>
    <!--
      <h1 class="w-100">Top Announces</h1>
  <hr>
  <% @top_announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
<div class= "row">
  <h1 class="w-100">Free Announces</h1>
  <% @free_announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
<div class= "row">
  <h1 class="w-100">All Announces</h1>
  <% @announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
</div>
<% end %>
<%# footer %>
