<%# navbar %>
<%# banner na home? %>
<%# add photos do cards %>
<%# what's the strcuture of the home page? %>
<div class="container">
  <div class= "row">
    <h1 class="w-100">Gallery Announces</h1>
    <% @gallery_announces.each do |announce| %>
      <div class="border p-2 m-2">
        <p><%= link_to announce.product_name, announce_path(announce) %></p>
      </div>
    <% end %>
  </div>
  <div class= "row">
    <h1 class="w-100">Highlight Announces</h1>
    <% @highlight_announces.each do |announce| %>
      <div class="border p-2 m-2">
        <p><%= link_to announce.product_name, announce_path(announce) %></p>
      </div>
    <% end %>
  </div>
  <div class= "row">
    <h1 class="w-100">Top Announces</h1>
    <hr>
    <% @top_announces.each do |announce| %>
      <div class="border p-2 m-2">
        <p><%= link_to announce.product_name, announce_path(announce) %></p>
      </div>
    <% end %>
  </div>
  <div class= "row">
    <h1 class="w-100">Free Announces</h1>
    <% @free_announces.each do |announce| %>
      <div class="border p-2 m-2">
        <p><%= link_to announce.product_name, announce_path(announce) %></p>
      </div>
    <% end %>
  </div>
  <div class= "row">
    <h1 class="w-100">All Announces</h1>
    <% @announces.each do |announce| %>
      <div class="border p-2 m-2">
        <p><%= link_to announce.product_name, announce_path(announce) %></p>
      </div>
    <% end %>
  </div>
</div>
<%# footer %>
