<%# navbar %>
<%# banner na home? %>
<%# add photos do cards %>
<%# what's the strcuture of the home page? %>
<!-- SEARCH RESULTS-->
<% if @search.present? && @search != '' %>
  <div class="container">
    <% if @search.present? && @announces.empty? %>
      <p>No matches found</p>
    <% elsif @search.present? && @search != '' %>
      <p>There are <%= @announces.count %> announces for <%= @search %></p>
    <% end %>
    <div class= "">
      <h3 class="w-100 ">Announces for <%= @search %></h3>
      <div class= "row">
        <% @announces.each do |announce| %>
          <% if announce.active %>
            <div class="col-6 mb-3">
              <div class="card h-100">
                <%= link_to announce_path(announce) do %>
                  <div class="card-body">
                    <% if announce.photo.present? %>
                      <div class="card-image">
                        <%= cl_image_tag announce.photo.key, crop: :fill, class: "img-fluid mb-2 rounded" %>
                      </div>
                    <% end %>
                    <span class="title-announce">
                      <h5 class="card-title"> <strong> <%= announce.product_name%> </strong> </span></h5>
                    <p class="card-text"> <%= announce.product_description %></p>
                    <p class="card-text"> <strong><i class="fas fa-dollar-sign"></i> <%= number_to_currency(announce.price, precision: 2, unit: "")  %> </strong></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- DEFAULT RESULTS-->
<% else %>
  <div class="container">
    <!-- Galeria Premium -->
    <div class= "">
      <h2 class="w-100">Premium Gallery </h2>
      <div class= "row">
        <!-- Carousel Wrapper -->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
          <!-- Controls -->
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
          </div>
          <!-- Slides -->
          <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <% @gallery_announces.each_slice(4).with_index do |gallery, index| %>
              <div class="carousel-item <%= "active" if index.zero?  %>">
                <% gallery.each do |announce| %>
                  <%= render "announces_premium",announce: announce %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Ultimos anuncios -->
    <div class= "">
      <h2 class="w-100 p-2">Latest additions</h2>
      <div class="row">
        <% @top_announces.take(8).each do |announce| %>
          <%= render "last_announces",announce: announce %>
        <% end %>
      </div>
    </div>
    <!--
      <h1 class="w-100">Top Announces</h1>
  <hr>
  <% @top_announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
<div class= "row">
  <h1 class="w-100">Free Announces</h1>
  <% @free_announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
<div class= "row">
  <h1 class="w-100">All Announces</h1>
  <% @announces.each do |announce| %>
    <div class="border p-2 m-2">
      <p><%= link_to announce.product_name, announce_path(announce) %></p>
    </div>
  <% end %>
</div>
</div>
<% end %>
<%# footer %>


