<%# navbar %>
<div class="container">
  <h1><%= @announce.product_name %></h1>
  <p>Sold by <%= @announce.user.username  %></p>
  <p>In <%= @announce.product_category  %></p>
  <p>Description:</p>
  <p><%= @announce.product_description  %></p>
  <p><i class="fas fa-dollar-sign"></i> <%= @announce.price  %></p>
  <p><%= @announce.quantity  %> available</p>
  <%= link_to  "Edit announce", edit_announce_path(@announce) %>
  <%= link_to announce_path(@announce), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash"></i>
  <% end %>
  <%= link_to  "Go back", root_path %>
</div>
<%# footer %>
