<%# navbar %>
<div class="container">
  <% if @announce.photo.blank? %>
  <% else %>
    <div class="photo-show">
      <%= cl_image_tag  @announce.photo.key, height: 600, width: 800 %>
    </div>
  <% end %>
  <div class="side-info-box">
    <div class="info-header">
      <h2><%= @announce.product_name %></h2>
    </div>
    <div class="info-price">
      <p><i class="fas fa-dollar-sign"></i> <%= @announce.price %></p>
      <%# if we need to show currency symbol, use: humanized_money_with_symbol(@announce.price) %>
      <%# Using Money rails there's no need for: number_to_currency(@announce.price, precision: 2, unit: "")  %>
    </div>
    <div class="info-vendor-category">
      <p>Sold by <%= @announce.user.username  %></p>
      <p>In <%= @announce.product_category  %></p>
    </div>
    <% if @announce.user != current_user %>
      <div class="btn btn-success buy-item">
        <%= link_to  "Buy", new_announce_order_path(@announce) %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <p>Description:</p>
  <p><%= @announce.product_description  %></p>
  <p><%= @announce.quantity  %> available</p>
  <p>Announce type: <%= @announce.announce_type  %></p>
  <% if @announce.user == current_user %>
    <%= link_to  "Edit announce", edit_announce_path(@announce) %>
    <%= link_to announce_path(@announce), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
  <%= link_to  "Go back", root_path %>
</div>
<%# footer %>
