<div class="container">
  <div class="card m-4 r-border-card p-5">
    <div class="container">
      <h3 class="border-bottom justify-content-center"><strong>New order for <%= @announce.product_name %></strong></h3>
      <br>
      <br>
      <p><strong>Sold by <%= @announce.user.username  %></strong></p>
      <p>In <%= @announce.product_category  %></p>
      <p>Description:</p>
      <p><%= @announce.product_description  %></p>
      <p><i class="fas fa-dollar-sign"></i> <%= @announce.price  %></p>
      <p><%= @announce.quantity  %> available</p>
      <%= simple_form_for [@announce, @order] do |f| %>
        <div>
          <%= f.input :quantity, collection: (1..@announce.quantity).to_a, selected: 1 %>
          <% hidden_field_tag :announce, @announce %>
        </div>
        <div>
          <%= f.submit 'Submit', class: "btn btn-success" %>
        </div>
      <% end %>
      <br>
      <%= link_to  "Go back", announce_path(@announce) %>
    </div>
  </div>
</div>
