<h1>Details of <%= @order.id %></h1>
<p>Product: <%= @order.announce.product_name %></p>
<p>Price: <%= @order.price %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>From user:<%= @order.announce.user.username %></p>
<p>When: <%= @order.created_at %></p>

