<h1>Details of <%= @order.id %></h1>
<p>Product: <%= @order.announce.product_name %></p>
<p>Price: <%= @order.price %></p>
<p>Quantity: <%= @order.quantity %></p>
<% if @order.announce.user.username == current_user.username %>
  <p>From user:<%= @order.announce.user.username %></p>
<% else %>
  <p>To user:<%= @order.user.username %></p>
<% end %>
<p>When: <%= @order.created_at %></p>

