<div class="container d-flex justify-content-center align-content-center align-items-center mt-5 mb-5" style="width: 700px;">
  <div class="side-info-box bg-light card-body shadow-sm r-border-card f-color">
    <div class="row justify-content-center ">
      <div class="m-3 col-lg-8 col-md-10 col-sm-10">
        <h2>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-success m-2" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
