<div class="container">
  <div class="card m-4 r-border-card p-5">
    <div>
    <%# <!--<div class="col-md-3"><%= image_tag @order.announce.photo.key, width: '100%' %><%#</div>--> %> 
      <div class="col">
        <h1 class="border-bottom">Checkout summary</h1>
        <br>
        <p>Purchase of <strong><%= @order.quantity %> <%= @order.announce.product_name %></strong> for <strong><%= @order.price * @order.quantity %></strong></p>
        <br>
        <button id="pay" class="btn btn-primary">Pay</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script> 
      </div>
    </div>
  </div>
</div>